<h1 id="article-title">
	<i class="fa fa-folder-open" aria-hidden="true"></i><%= __('categories.title') %>
</h1>
<h3>
	<%= __('categories.counts') %> <%- site.categories.length %>
</h3>

<div id="article-content">
	<ul>
        <% if (site.categories && site.categories.length) { %>
            <% site.categories.forEach(function(category){ %>
                <li class="menu-item">
                    <span>
                        <a href="/<%- category.path %>"><%- category.name %>(<%- category.length %>)</a>
                    </span>
                </li>
            <% }); %>
        <% } %>
	</ul>
</div>
