<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>
	<%- partial('_partial/header.ejs') %>
	<%- partial('_partial/sidebar.ejs') %>

	<!-- 引入正文 -->
	<div id="content">
		<%- body %>
	</div>
	<%- partial('_partial/footer.ejs') %>
	<%- partial('_partial/totop') %>
</body>
</html>