<header id="header">
    <a id="title" href="<%= url_for() %>" class="logo"><%- config.title %></a>

	<ul id="menu">
    <% if (theme.about){ %>
      <li class="menu-item">
        <a href="/about" class="menu-item-link"><%= __('header.menu.about') %></a>
      </li>
    <% } %>

    <% if (theme.tags){ %>
      <li class="menu-item">
        <a href="/tags" class="menu-item-link"><%= __('header.menu.tags') %></a>
      </li>
    <% } %>

    <% if (theme.categories){ %>
      <li class="menu-item">
        <a href="/categories" class="menu-item-link"><%= __('header.menu.categories') %></a>
      </li>
    <% } %>

    <% if (theme.links && theme.links.custom) { %>
      <% var links = theme.links.custom %>
      <% for (var i = 0; i < links.length; i++) { %>
        <li class="menu-item">
          <a href='<%- links[i]['URL'] %>' class="menu-item-link" target="_blank">
            <%- links[i]['name'] %>
          </a>
        </li>
      <% } %>
    <% } %>
  
    <% if (theme.links && theme.links.github) { %>
      <li class="menu-item">
        <a href='<%- theme.links.github %>' class="menu-item-link" target="_blank">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
    <% } %>
	</ul>
</header>
